

<div class="max-w-2xl mx-auto p-6 bg-white rounded-lg shadow">
 
  <h1 class="text-3xl font-bold text-gray-900 mb-6">
    Lista Alumnos
  </h1>
 
  <form [formGroup]="formulario" >

    <!-- Matricula -->
    <div class="mb-5">
 
      <label
        for="matricula"
        class="block mb-2 text-sm font-medium text-gray-900"
      > Matricula
      </label>
 
      <input
        type="text"
        id="matricula"
        name="matricula"
        formControlName="matricula"
        required
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
               focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Matricula"
      >
    </div>
 
    <!-- Nombre -->
    <div class="mb-5">
 
      <label
        for="nombre"
        class="block mb-2 text-sm font-medium text-gray-900"
      >
        Nombre
      </label>
 
      <input
        type="text"
        id="nombre"
        name="nombre"
        formControlName="nombre"
        required
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
               focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Nombre"
      >
    </div>

    <!-- Correo -->
    <div class="mb-5">
 
      <label
        for="correo"
        class="block mb-2 text-sm font-medium text-gray-900"
      >
        Correo
      </label>
 
      <input
        type="text"
        id="correo"
        name="correo"
        formControlName="correo"
        required
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
               focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Correo"
      >
    </div>

    <!-- Materia -->
    <div class="mb-5">
 
      <label
        for="materia"
        class="block mb-2 text-sm font-medium text-gray-900"
      >
        Materia
      </label>
 
      <input
        type="text"
        id="materia"
        name="materia"
        formControlName="materia"
        required
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
               focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Materia"
      >

 
    </div>

    <div class="mb-5">
        
        <!-- Botón registrar -->
        <div class="flex justify-end mt-5">
            <button type="submit" 
                (click)="muestraAlumno()"
                class="text-white bg-blue-700 hover:bg-blue-800 
                focus:ring-4 focus:outline-none focus:ring-blue-300
                font-medium rounded-lg text-sm px-5 py-2.5
                disabled:opacity-50 disabled:cursor-not-allowed"
                >
                Registrar
            </button>
            

            <button type="submit" 
                (click)="cargarAlumnos()"
                class="text-white bg-blue-700 hover:bg-blue-800
                focus:ring-4 focus:outline-none focus:ring-blue-300
                font-medium rounded-lg text-sm px-5 py-2.5
                disabled:opacity-50 disabled:cursor-not-allowed">
                Cargar
            </button>
 
      </div>
 
    </div>
 
  </form>


  <!-- Tabla -->
<div class="max-w-6xl mx-auto mt-8">
 
  <h2 class="mb-4 text-2xl font-bold text-gray-900">
    Lista de alumnos
  </h2>
  <div
    class="relative overflow-x-auto shadow-md sm:rounded-lg"
   
  >
 
 
    <table class="w-full text-sm text-left text-gray-500">
 
      <!-- Encabezado -->
      <thead class="text-xs text-gray-700 uppercase bg-gray-100">
 
        <tr>
          <th scope="col" class="px-6 py-3">
            Matrícula
          </th>
 
          <th scope="col" class="px-6 py-3">
            Nombre
          </th>
 
          <th scope="col" class="px-6 py-3">
            Correo
          </th>
 
          <th scope="col" class="px-6 py-3">
            Materia
          </th>
 
          <th scope="col" class="px-6 py-3">
            Acciones
          </th>
        </tr>
 
      </thead>
 
      <!-- Datos -->
      <tbody>
 
        <tr *ngFor="let alumno1 of alumnos let i = index"
          class="bg-white border-b border-gray-200 hover:bg-gray-50"
        >
 
          <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
            {{ alumno1.matricula }}
          </td>
 
          <td class="px-6 py-4">
            {{ alumno1.nombre }}
          </td>
 
          <td class="px-6 py-4">
            {{ alumno1.correo }}
          </td>
 
          <td class="px-6 py-4">
            {{ alumno1.materia }}
          </td>
 
          <td class="px-6 py-4">
 
            <div class="flex gap-2">
 
              <!-- Botón Editar -->
              <button
                type="button"
                class="px-4 py-2 text-sm font-medium text-white bg-green-600 rounded-lg hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-green-300"
                (click)="editarAlumno(i)"
              >
                Editar
              </button>
 
              <!-- Botón Eliminar -->
              <button
                type="button"
                class="px-4 py-2 text-sm font-medium text-white bg-red-600 rounded-lg hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-300"
                (click)="eliminarAlumno(i)"
              >
                Eliminar
              </button>
 
            </div>
 
          </td>
 
        </tr>
 
      </tbody>
 
    </table>
 
  </div>
 
  <!-- Mensaje cuando no existen alumnos -->
   <div *ngIf="alumnos.length === 0"
    class="p-4 mt-4 text-sm text-gray-800 rounded-lg bg-gray-100"
    role="alert"
  >
    <span class="font-medium">Información:</span>
    No hay alumnos registrados.
  </div>
 
</div>

<br><br>
<h2 class="mb-4 text-2x1 font-bold text-gray-900"> Lista de alumnos </h2>
  <h3> Matricula: {{nuevoAlumno.matricula}} </h3>
  <h3> Nombre: {{nuevoAlumno.nombre}}</h3>
  <h3> Correo: {{nuevoAlumno.correo}}</h3>
  <h3> Materia: {{nuevoAlumno.materia}}</h3>
 
</div>
 

  

